.HeroesDetail::-webkit-scrollbar {
  width: 0.5em;
}
.HeroesDetail::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.HeroesDetail {
  grid-area: detail;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.DetailTitle {
  margin-bottom: 1em;
}

.DetailDescription {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.DetailImage {
  width: 380px;
  margin-right: 1em;
}

.ListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.List:not(:last-child) {
  margin-right: 2em;
}

.DetailUrls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DetailUrl {
  font-size: 20px;
}
.DetailUrl:not(:last-child) {
  margin-right: 1em;
}

.DetailUrl a{
  text-transform: capitalize;
  color: tomato;
}

p {
  text-align: left;
  font-size: 19px;
}