.Heroes::-webkit-scrollbar {
  width: 0.5em;
}
.Heroes::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.Heroes {
  grid-area: master;
  padding: 1em;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  background-color: rgb(255, 255, 255);
}

.Heroes h3 {
  margin-bottom: 0.5em;
}
.Card:not(:last-child) {
  margin-bottom: 0.8em;
}
