.Card {
  background-color: white;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.Card:hover {
  box-shadow: 0 3px 6px rgba(236, 7, 7, 0.609), 0 3px 6px rgba(195, 5, 5, 0.883);;
}
.CardImage {
  height: 3em;
  width: 2.5em;
}

.CartContent {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CardBadges {
  display: flex;
  justify-content: center; 
  margin: 0.2em 0;
}

.Badge:not(:last-child) {
  margin-right: 0.5em;
}