.List {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ListItem{
  padding-top: 0.5em;
  transition: border-bottom 0.1s;
  border-bottom: white 2px solid
}

.ListItem:hover{
  border-bottom: tomato 2px solid;
}

.List h4{
  border-bottom: tomato 2px solid;
}

.List a{
  text-decoration: none;
  color: black;
}

.List a:hover{
  text-decoration: none;
  color: black;
}