.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50px auto;
  grid-template-areas: 
  "header header header"
  "master detail detail"
  "master detail detail";
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header;
}

